---
import Logo from "@pub-assets/logo.jpg";
import Layout from "@layouts/Dub.astro";
---

<Layout title="Sobre" description="Sobre a Neon Dubs" heroImage={Logo}>
  <p>
    Neon Dubs é uma equipe de Fandublagem e Dublagem Original que busca ser
    conhecida por todo o Brasil pelo seu trabalho com carinho e amor, Criado
    pelo Fandublador, Artista e Designer GK (Guilherme Mattza) em 2020.
  </p>
</Layout>
