---
import { Icon } from "astro-icon/components";
const hoje = new Date();
---

<footer>
  <p>
    &copy; {hoje.getFullYear()} Thavinny "Neo" Pires - Todos os direitos reservados.
  </p>

  <div class="social-links">
    <a
      href="https://www.instagram.com/neon.dubsoficial"
      target="_blank"
      aria-label="Instagram"
    >
      <Icon name="fa6-brands:instagram" width="32" height="32" />
    </a>
  </div>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: white;
    text-align: center;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }

  .social-links a {
    text-decoration: none;
    color: white;
    transition:
      transform 0.2s ease,
      opacity 0.2s ease;
  }

  .social-links a:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
</style>
